h1 {
    text-align: center;
    font-size: 40px;
    color:rgb(247, 236, 247);
   /* background-color:  rgb(221, 128, 179);*/

}
  


.whole{
  margin-left:8em;
  margin-right:89em;
  border-style: solid;
  background-color: rgb(41, 91, 197);
}


marquee{
  font-size: x-large;
  font-style: oblique;
}


.bg {
  /* The image used */
  background-image: url("stock2.png");

  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


